<!DOCTYPE html>
<html>
<head>
  <title>Ultimas posiciones de los vehiculos</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5iFiiTDdYpofN5QHcu-bt_qTQIoGHCq0&callback=initMap&libraries=&v=weekly"
    defer
  ></script>
  <style>
    #map {
      height: 100%;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <script>
      function initMap() {
          const map = new google.maps.Map(document.getElementById("map"), {
              zoom: 3,
              center: locations[0],
          });
          // Create an array with names vehicles.
          const labels = [];
          <% @last_waypoints.each do |waypoint| %>
          labels.push('<%= waypoint[:vehicle_identifier] %>')
          <% end %>

          // Create array of locations
          const markers = locations.map((location, i) => {
              return new google.maps.Marker({
                  position: location,
                  label: labels[i]
              });
          });
          // Add a marker clusterer to manage the markers.
          new MarkerClusterer(map, markers, {
              imagePath:
                  "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m",
          });
      }
      const locations = [];
      <% @last_waypoints.each do |waypoint| %>
      locations.push({ lat: <%= waypoint[:latitude] %>, lng: <%= waypoint[:longitude] %> })
      <% end %>
  </script>
</head>
<body>
<div id="map"></div>
</body>
</html>